<!DOCTYPE html>
<html>
	<head>

		<meta charset="UTF-8">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="/css/style.css">
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/libs/jquery/jquery-1.8.2.min.js"><\/script>')</script>
        <script src="/js/libs/jquery-flexnav/jquery-flexnav-0.3.js"></script>

	</head>
	<body>
	
		<!-- FIXED TOP NAVBAR -->
		<div class="navbar-fixed">
			<p>
				<a class="pull-left" href="#" title="Back"><img src="/images/back.png" alt="Back"></a>
				Magazine Title
				<a class="pull-right" href="/views/" title="Home"><img src="/images/home.png" alt="Home"></a>
			</p>
		</div>
		<!-- / FIXED TOP NAVBAR -->
		
		<!-- PAGE CONTAINER -->
		<div class="container">
		
			<!-- HEADER: CONTAINS LOGO AND MENU BUTTON -->
			<div class="header clearfix">
				<div class="site-logo pull-left">
					<img src="http://placehold.it/650x250&text=650x250+Logo">
				</div>
				<div class="menu-button pull-right"></div>
			</div>
			<!-- / HEADER -->

			<!-- DROPDOWN NAVIGATION MENU -->
			<nav>
				<ul id="nav" role="navigation">
					<li class="top-level"><a href="/views/article.html" title="">Article Page</a></li>
					<li class="top-level"><a href="/views/author.html" title="">Author Page</a></li>
					<li class="top-level"><a href="/views/category.html" title="">Category Page</a></li>
					<li class="top-level"><a href="/views/search_results.html" title="">Search Results Page</a></li>
					<li class="top-level"><a href="/views/tag.html" title="">Tag Page</a></li>
					<li class="top-level"><a href="/views/photo_gallery_list.html" title="">Gallery List Page</a></li>
					<li class="top-level"><a href="/views/photo_gallery.html" title="">Gallery Page</a></li>
					<li class="top-level"><a href="/views/photo_gallery_all.html" title="">Gallery View All</a></li>
					<li class="top-level">
						<form class="form-search clearfix">
							<input type="text" class="pull-left">
							<button type="submit" class="btn pull-right">Search</button>
						</form>
					</li>

				</ul>
			</nav>
			<!-- / DROPDOWN NAVIGATION MENU -->

			<!-- SITE CONTENT -->
			<div class="content">
				
				<div class="page-meta">
					<h4>Name of Photo Gallery</h4>
					<span>Photo Gallery</span>
				</div>
				
				<!-- IMAGE GALLERY -->
				<div class="img-gallery">
				
					<!-- GALLERY IMAGE AND CAPTION -->
					<a class="article-image" href="" title="">
						<img src="http://placehold.it/640x480&text=640x480+Gallery+Image" alt="">
						<div class="caption">
							<p>This is a Caption for a Gallery Image</p>
						</div>
					</a>
					<!-- / GALLERY IMAGE AND CAPTION -->
					
					<!-- GALLERY CONTROL BUTTONS -->
					<div class="btn-row clearfix">
						<a class="btn pull-left" href="#" title=""><i class="icon-step-backward"></i></a>
						<a class="btn pull-right" href="#" title=""><i class="icon-step-forward"></i></a>
					</div>
					<!-- GALLERY CONTROL BUTTONS -->
					
				</div>
				<!-- / IMAGE GALLERY -->
				
			</div>
			<!-- / SITE CONTENT -->

		</div>
		<!-- / PAGE CONTAINER -->
		
		<!-- FOOTER -->
		<footer>
			<p><a href="#" title="View Full Site">View Full Site</a></p>
			<p><a href="#" title="View Full Site">Privacy Policy</a> | <a href="#" title="View Full Site">Terms of Service</a></p>
			<p class="copyright"><a href="http://www.grindmedia.com/" title="Copyright &copy; 2012 GrindMedia, LLC. All Rights Reserved">Copyright &copy; 2012 GrindMedia, LLC. All Rights Reserved</a></p>
		</footer>
		<!-- / FOOTER -->
		
		<script src="/js/libs/grindmedia/main.js"></script>

	</body>
</html>